.footer-container{
    height: 417px;
    background: #495E57;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.footer-logo > img{
    width: 80px;
}

li{
    list-style:none;
}